/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: "Brandon Text Light";
  src: url("../fonts/brandon-text-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brandon Text Regular";
  src: url("../fonts/brandon-text-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brandon Text Bold";
  src: url("../fonts/brandon-text-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'Brandon Text Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 2000px;
  color: #8c8c8c;
  font-size: 16px;
  line-height: 30px;
}

.wrapper {
  padding: 0 0 25px 0;
}

.avatar-mask {
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  mask: url('avatar-mask.svg') top left;
  -o-mask: url('avatar-mask.svg') top left;
  -ms-mask: url('avatar-mask.svg') top left;
  -webkit-mask: url('avatar-mask.svg') top left;
  -o-mask-size: cover;
  -ms-mask-size: cover;
  -webkit-mask-size: cover;
}

.avatar img {
  width: 120px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: #333;
  font-family: 'Nunito', 'Brandon Text Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, i, input, textarea, .primary, button, .mask {
  transition: all .15s ease;
}

a {
  color: #e7543d;
}

a:hover {
  text-decoration: none;
  color: #444;
}

a.primary {
  color: #444;
}

a.primary:hover {
  color: #e7543d;
}

.bold {
  font-family: 'Brandon Text Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

strong {
  font-family: 'Brandon Text Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.profile-bio {
  width: 50%;
  margin: 5px auto 10px;
  color: #444;
}

a.top-link {
  margin: 0 20px;
  color: #444;
  transition: all .3s ease;
  width: 110px !important;
  display: inline-block;
}

a.top-link:hover {
  color: #e7543d;
}

.container-top {
  padding-top: 50px;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.container-top:after {
  content: " ";
  border-bottom: 2px solid rgba(209, 209, 209, 0.26);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 100%;
  height: 155px;
  position: absolute;
  z-index: -1;
  top: -20px;
  left: 0;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.container-top.shown:after,
.container-top.shown:before {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.container-top:before {
  content: " ";
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 100%;
  height: 155px;
  position: absolute;
  z-index: -2;
  top: -20px;
  left: 0;
}

.container-bottom {
  padding-top: 170px;
  z-index: 1;
}

.top-link [class^="ps-icon-"]:before, .top-link [class*=" ps-icon-"]:before {
  position: relative;
  top: 7px;
  margin-right: 4px;
  font-size: 1.4em;
}

a.contact-link {
  margin: 0 4px;
  color: #ccc;
  display: inline-block;
  width: 25px;
}

.primary, a.contact-link:hover {
  color: #e7543d;
}

a.contact-link.wdt img {
  width: 18px;
  position: relative;
  top: -2px;
}

h3.name {
  letter-spacing: 1px;
  font-family: "Nunito", "Brandon Text Light", sans-serif;
}

h3.top-name {
  position: absolute;
  font-family: "Nunito", "Brandon Text Light", sans-serif;
  top: -60px;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  letter-spacing: 1px;
}

h3.top-name.shown {
  opacity: 1;
  top: -6px;
}

.top-link.shown {
  margin: 0 50px;
}

.mt10 {
  margin-top: 10px;
}

span.project-title {
  font-size: 12px;
  font-family: "Brandon Text Light", sans-serif;
  line-height: 26px;
  display: block;
}

.project-description {
  margin: 15px auto;
  max-width: 450px;
}

.project-description img {
  border: 2px solid #F6BC42;
  border-radius: 2px;
  padding: 6px;
  max-width: 100%;
  background: #F9F9F9;
}

.project-preview {
  position: relative;
  display: inline-block;
}

.project-description ul {
  padding-left: 0;
}

.project-description li {
  list-style: none;
}

.project-description .project-preview:before {
  content: "PREVIEW";
  color: #F6BC42;
  position: absolute;
  display: inline-block;
  top: 13px;
  left: -36px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: bold;
  transform: rotate(-90deg);
  text-transform: lowercase;
  opacity: .5;
}

.container-projects .col-md-8 {
  border-bottom: 2px solid rgba(209, 209, 209, 0.26);
  padding-bottom: 60px;
  margin-bottom: 50px;
}

.container-projects .col-md-8:first-child {
  padding-top: 30px;
}

a.button {
  display: inline-block;
  position: relative;
  padding: .8em 1.3em;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
  outline: 0;
  background: #AC8FFD;
  border: 2px solid #948CE2;
  color: #fff;
  text-shadow: none;
  border-radius: 2px;
}

a.button:hover {
  color: #fff;
  background-color: #c0a7fd;
  border-color: #948CE2;
}

/* ---- */

.projects-page-title {
  background: #AC8FFD;
  color: #fff;
  margin-top: 50px;
  border-bottom: 2px solid #948CE2;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.projects-page-title.sticky {
  position: fixed;
  width: 100%;
  top: 85px;
  padding-top: 20px;
  z-index: 2;
}

.projects-page-title h2 {
  color: #fff;
  margin-bottom: 20px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  letter-spacing: 4px;
  text-transform: lowercase;
}

.projects-page-title.sticky h2 {
  margin-bottom: 10px;
}

/* ---- */

.resume-page-title {
  background: #FE2A57;
  color: #fff;
  margin-top: 50px;
  border-bottom: 2px solid #C35B42;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.resume-page-title.sticky {
  position: fixed;
  width: 100%;
  top: 85px;
  padding-top: 20px;
  z-index: 2;
}

.resume-page-title h2 {
  color: #fff;
  margin-bottom: 20px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  letter-spacing: 4px;
  text-transform: lowercase;
}

.resume-page-title.sticky h2 {
  margin-bottom: 10px;
}

/* ---- */

.container-projects.sticky {
  padding-top: 125px;
  position: relative;
}

i.fa.fa-heart {
  color: #AC8FFD;
}

.container-projects.resume {
  margin-top: 50px;
}

/* TIMELINE */
.timeline {
  position: relative;
  padding-left: 112px;
  padding-bottom: 8px;
}

.timeline h2 {
  position: relative;
  margin-bottom: 2em;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 1px;
}

.timeline h2 [class^="icon-"],
.timeline h2 [class^="ps-icon-"],
.timeline h2 [class*=" icon-"],
.timeline h2 [class*=" ps-icon-"],
.timeline h2 .fa {
  display: block;
  font-size: 28px;
  position: absolute;
  top: -27px;
  left: -112px;
  width: 86px;
  line-height: 78px;
  margin: 0;
}
h2 i.fa,
h2 i.ps-icon {
  font-size: 16px;
  margin-right: 14px;
  line-height: 39px;
  text-align: center;
  color: #B7C6C9;
  background: #fff;
  border-radius: 50%;
  border: 4px solid #F4F6F7;
  display: inline-block;
  width: 47px;
}

.timeline h2 [class^="icon-"]:before,
.timeline h2 [class^="ps-icon-"]:before,
.timeline h2 [class*=" icon-"]:before,
.timeline h2 [class*=" ps-icon-"]:before,
.timeline h2 i.fa:before {
  margin: 0;
  position: relative;
  top: 3px;
  left: 2px;
}

.event {
  position: relative;
  padding: 26px 32px;
  margin-bottom: 3em;
  background: #ffffff;
  border: 3px solid #EDF1F3;
  border-radius: 6px;
}

.event:after,
.event:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.event:after {
  border-right-color: #ffffff;
  border-width: 10px;
  margin-top: -10px;
}

.event:before {
  border-right-color: #EDF1F3;
  border-width: 15px;
  margin-top: -15px;
}

.event .date {
  position: absolute;
  top: 45%;
  margin-top: -24px;
  left: -106px;
  width: 68px;
  line-height: 58px;
  text-align: center;
  background: #F6BC42;
  display: block;
  color: #fff;
  border-radius: 50%;
  border: 5px solid #FFF;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1px;
}

.event.current .date {
  border-color: rgba(51, 68, 85, 0.05);
  outline: 5px solid #FFF;
  background-color: #fff;
}

.timeline .event:last-child p:before {
  height: 76%
}

.event h4 {
  margin: 0;
  padding: 0;
}

.event h5 {
  margin: 5px 0 0 0;
  padding: 0 0 .3em 0;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  color: #C9D5D6;
}

.event p {
  margin: .6em 0 .2em 0;
  font-size: 14px;
  letter-spacing: .02em;
  line-height: 23px;
}

.event p:before {
  display: block;
  content: "";
  position: absolute;
  top: -30px;
  left: -72px;
  height: 160%;
  width: 4px;
  background: #F4F6F7;
  z-index: -1;
}

.rainbow_border{
  border-image: -webkit-linear-gradient(left, #E18728, #BE4C39 33%, #9351A6 66%, #4472B9,#4CA454,#D49B00) 2%; border-image: -ms-linear-gradient(left, #E18728, #BE4C39 33%, #9351A6 66%, #4472B9,#4CA454,#D49B00) 2%; border-image: -moz-linear-gradient(left, #E18728, #BE4C39 33%, #9351A6 66%, #4472B9,#4CA454,#D49B00) 2%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px) {
  .profile-bio {
    width: 90%
  }

  a.top-link.mobile {
    display: inline-block !important;
    width: 61px !important;
    margin: 0 8px;
    padding: 0;
    position: relative;
    top: -40px;
  }

  a.top-link.mobile.shown {
    top: 0;
  }

}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
