/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: #444;
}

.clear {
	clear: both;
}

img {
	max-width: 100%;
}

body {
	font-family: Ubuntu, Helvetica, sans-serif;
	background: #fff;
	-webkit-text-stroke: 0.15px;
	line-height: 1.6em;
}

.bold, .bold span {
	font-weight: bold;
}

span.colored {
	color: #444;
	text-shadow: 0 2px 2px rgba(253, 210, 215, .1);
}

a.take-a-look {
	border: 1px solid #444;
	padding: 6px 18px;
	font-weight: bold;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

a.take-a-look:hover {
	background-color: #444;
	color: #f7f7f7;
}

p {
	padding: 30px;
}

strong {
	font-weight: bolder;
}

.wrap {
	width: 80%;
	margin: 0 auto;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
}

a.contact-link {
	display: inline-block;
	width: 45px;
	text-align: center;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

a.contact-link:hover {
	color: indianred;
}

a.contact-link i {
	font-size: 1.6em;
}

/* Effect 3: bottom line slides/fades in */
.cl-effect-3 a {
	padding: 8px 0;
	position: relative;
}

.cl-effect-3 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(0, 0, 0, 0.1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.logo {
	float: left;
}

.header-top {
	padding: 5px 0;
	position: fixed;
	z-index: 1999;
	width: 100%;
	clear: both;
	background: #fff;
	border-bottom: 5px solid #dedede;
}

.header-top nav {
	float: right;
	text-align: center;
}

.header-top nav a:hover {
	color: #000;
}

.header-top nav a {
	color: #999;
	display: inline-block;
	margin: 0 10px;
	letter-spacing: 1px;
	font-size: 1em;
}

.name {
	color: #999;
	display: block;
	letter-spacing: 1px;
	font-size: 1em;
}

.name:first-letter {
	font-weight: bold;
	color: indianred;
}

.header-bottom {
	padding: 10% 0 5%;
	text-align: center;
}

.header-bottom h1 {
	font-size: 4em;
	line-height: 1em;
	color: #333;
}

.header-bottom h2 {
	font-size: 1.6em;
	color: #555;
	padding: 1% 0 4%;
}

.header-bottom h3 {
	margin: 50px 0;
	font-size: 2.5em;
	color: #555;
}

.header-bottom h4 {
	margin: 20px 0;
	line-height: 1.5em;
}

/* Double Diagonal line */
.divider-container {
	overflow: hidden;
}

.doublediagonal-divider::before,
.doublediagonal-divider::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

.doublediagonal-divider {
	z-index: 1;
	padding-top: 3em;
	margin-top: 6em;
	background: #f7f7f7;
	position: relative;
}

.doublediagonal-divider.revert {
	background: #fff;
}

.doublediagonal-divider::before,
.doublediagonal-divider::after {
	top: 0;
	left: -25%;
	z-index: -1;
	width: 150%;
	height: 142%;
	background: inherit;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.doublediagonal-divider::before {
	height: 68%;
	background: #ccc;
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
	-webkit-transform-origin: 3% 0;
	transform-origin: 3% 0;
}

.project-content {
	text-align: center;
}

.gray {
	background: #f7f7f7;
}

/*--footer--*/
.footer-menu {
	text-align: center;
}

.footer-menu li {
	display: inline-block;
}

.footer-menu li a {
	color: #999;
	display: block;
	margin: 10px 10px;
	letter-spacing: 1px;
	font-size: 1em;
}

.footer-menu li.active a, .footer-menu li a:hover {
	color: #000;
}

.footer {
	padding-bottom: 2%;
	border-top: 3px solid #dedede;
	margin-top: 40px;
}

@media (max-width: 1366px) {
	.wrap {
		width: 90%;
	}
}

@media (max-width: 1280px) {
	.wrap {
		width: 90%;
	}
}

@media (max-width: 1024px) {
	.wrap {
		width: 90%;
	}

	.header-bottom h1 {
		font-size: 3.5em;
	}

	.header-bottom h2 {
		font-size: 1.5em;
	}

	.header-bottom h3 {
		font-size: 2.1em;
	}

	.header-bottom {
		padding: 110px 0 70px;
	}

	.footer-menu {
		float: none;
		text-align: center;
	}
}

@media (max-width: 800px) {
	.wrap {
		width: 90%;
	}

	.header-bottom h1 {
		font-size: 3em;
	}

	.header-bottom h2 {
		font-size: 1.5em;
	}

	.header-bottom h3 {
		font-size: 2.1em;
	}

	.header-bottom {
		padding: 110px 0 70px;
	}

	.footer-menu {
		float: none;
		text-align: center;
	}
}
@media (max-width: 798px) {
	.wrap {
		width: 90%;
	}

	.header-bottom h1 {
		font-size: 3em;
	}

	.header-bottom h2 {
		font-size: 1.5em;
	}

	.header-bottom h3 {
		font-size: 2.1em;
	}

	.header-bottom {
		padding: 110px 0 70px;
	}

	.footer-menu {
		float: none;
		text-align: center;
	}
}

@media (max-width: 640px) {
	.wrap {
		width: 90%;
	}

	.header-bottom h1 {
		font-size: 2.5em;
	}

	.header-bottom h2 {
		font-size: 1.5em;
	}

	.header-bottom h3 {
		font-size: 2.1em;
	}

	.header-bottom {
		padding: 110px 0 70px;
	}

	.footer-menu {
		float: none;
		text-align: center;
	}

	a.contact-link {
		width: 33px;
	}
}

@media (max-width: 480px) {
	.wrap {
		width: 90%;
	}

	.header-bottom h1 {
		font-size: 2.5em;
	}

	.header-bottom h2 {
		font-size: 1.2em;
	}

	.header-bottom h3 {
		font-size: 1.5em;
	}

	.header-bottom {
		padding: 150px 0 50px;
	}

	.footer-menu {
		float: none;
		text-align: center;
	}

	.logo {
		float: none;
		text-align: center;
	}

	.header-top nav a {
		margin: 0 2px;
	}

	.header-top nav {
		float: none
	}

	a.contact-link {
		width: 33px;
	}

	.header-name {
		display: block;
	}
}

@media (max-width: 320px) {
	.wrap {
		width: 90%;
	}

	.header-bottom h1 {
		font-size: 1.7em;
	}

	.header-bottom h2 {
		font-size: 1.2em;
	}

	.header-bottom h3 {
		font-size: 1.5em;
	}

	.footer-menu {
		float: none;
		text-align: center;
	}

	.header-bottom {
		padding: 150px 0 50px;
	}

	.logo {
		float: none;
		text-align: center;
	}

	.header-top nav {
		float: none
	}

	.header-top nav a {
		margin: 0 2px;
	}

	.footer-menu li a {
		margin: 10px 2px;
	}

	a.contact-link {
		width: 33px;
	}

	.header-name {
		display: block;
	}
}






