html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

* {
	font-family: 'Ubuntu', sans-serif;
}

.section {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	text-align: center;
	background: #fff;
	border-bottom: thin solid lightgray;
	box-shadow: 0 10px 10px -10px lightgray
}

.section:last-child {
	border: none;
	box-shadow: none;
}

.section > div {
	padding: 100px 20px
}

a {
	display: inline-block;
	color: #F35064;
	text-shadow: 0 2px 2px #FDD2D7;
	text-decoration: none;
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
}

a:hover {
	color: #444;
	text-shadow: 0 2px 2px #ddd;
}

h1 {
	font-weight: normal;
	font-size: 50px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
}

p {
	font-size: 30px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
}

h1, p, div {
	cursor: default;
}

.project-content {
	max-width: 850px;
	margin: 0 auto;
}

span.bold {
	white-space: nowrap;
}

.bold, .bold span {
	font-weight: bold;
}

span.colored {
	color: #F35064;
	text-shadow: 0 2px 2px #FDD2D7;
}

span.moving-letter {
	display: inline-block;
	position: relative;
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
	cursor: default;
}

img.avatar {
	width: 300px;
	position: relative;
}

.info {
	line-height: 28px;
}

a.contact-link {
	display: inline-block;
	width: 45px;
	text-align: center;
}

a.take-a-look {
	border: 1px solid #F35064;
	padding: 6px 18px;
}

a.take-a-look:hover {
	background-color: #F35064;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
}

#project-noty, #project-numbars {
	background: #f8f8f8;
}

img.noty {
	margin-left: 16px;
}

ul.project-features {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

i.love {
	margin: 0 2px;
	display: inline-block;
	width: 13px;
	height: 12px;
	background: url(../img/love.png) no-repeat 0 0;
	text-indent: -9999px;
}

.numbars-preview {
	border: thin solid lightgray;
	border-radius: 10px;
}

footer {
	position: relative;
	font-size: 12px;
	margin-top: 150px
}